name: CI

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # run every Monday at 6am UTC
    - cron: '0 6 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci-tests:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Check out repository
      uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
    - name: Install base dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest wheel jupyterlab
    - name: Install the package
      run: |
        pip install .
    - name: Check labextension is installed
      shell: bash
      run: |
        jupyter labextension list
        $(jupyter labextension list | grep ipyevents > ipyevents_lines.txt) || echo
        test ! -s ipyevents_lines.txt
    - name: Run unit ci-tests
      run: |
        pytest ipyevents
